In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20171108',periods =6)

In [5]:
dates

DatetimeIndex(['2017-11-08', '2017-11-09', '2017-11-10', '2017-11-11',
               '2017-11-12', '2017-11-13'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index =dates, columns = list('ABCD'))

In [8]:
df

                   A         B         C         D
2017-11-08  0.582015 -0.163054  0.621891 -1.080133
2017-11-09  1.145581  0.077390 -0.627951 -0.378730
2017-11-10  1.156460 -0.722293  0.091400 -1.133513
2017-11-11 -0.229357 -0.466417  0.571024 -0.291472
2017-11-12  0.690270  0.514048  0.731570  2.084680
2017-11-13  0.277972  0.334112  0.648294 -0.278896

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
pd.Categorical?

In [20]:
df.sort_values(by=['B'], ascending= False)

                   A         B         C         D
2017-11-12  0.690270  0.514048  0.731570  2.084680
2017-11-13  0.277972  0.334112  0.648294 -0.278896
2017-11-09  1.145581  0.077390 -0.627951 -0.378730
2017-11-08  0.582015 -0.163054  0.621891 -1.080133
2017-11-11 -0.229357 -0.466417  0.571024 -0.291472
2017-11-10  1.156460 -0.722293  0.091400 -1.133513

In [21]:
df.loc[dates[1]:dates[2],['A','B']]

                   A         B
2017-11-09  1.145581  0.077390
2017-11-10  1.156460 -0.722293

In [22]:
df[df.A>0]

                   A         B         C         D
2017-11-08  0.582015 -0.163054  0.621891 -1.080133
2017-11-09  1.145581  0.077390 -0.627951 -0.378730
2017-11-10  1.156460 -0.722293  0.091400 -1.133513
2017-11-12  0.690270  0.514048  0.731570  2.084680
2017-11-13  0.277972  0.334112  0.648294 -0.278896

In [24]:
df[df.B>0]

                   A         B         C         D
2017-11-09  1.145581  0.077390 -0.627951 -0.378730
2017-11-12  0.690270  0.514048  0.731570  2.084680
2017-11-13  0.277972  0.334112  0.648294 -0.278896

In [25]:
d={7:'seven',8:'eight',9:'nine'}

In [26]:
d

{7: 'seven', 8: 'eight', 9: 'nine'}

In [27]:
d[8]

'eight'

In [28]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [30]:
list('asd')

['a', 's', 'd']

In [32]:
a = list('hello')

In [33]:
a

['h', 'e', 'l', 'l', 'o']

In [34]:
del a[2]

In [35]:
a

['h', 'e', 'l', 'o']

In [36]:
a[2] = 't'

In [37]:
a

['h', 'e', 't', 'o']

In [40]:
b =list('hello')

In [41]:
b

['h', 'e', 'l', 'l', 'o']

In [44]:
b[2:4] = list('yy')

In [45]:
b

['h', 'e', 'y', 'y']

In [46]:
a=['h','e','l','l','o']

In [47]:
a.insert(2,'t')

In [48]:
a

['h', 'e', 't', 'l', 'l', 'o']

In [49]:
a.append('y')

In [50]:
a

['h', 'e', 't', 'l', 'l', 'o', 'y']

In [51]:
dict(name='jiayounet',age=27)

{'age': 27, 'name': 'jiayounet'}

In [53]:
def square(x):
    return x*x
y = square(2)

In [54]:
y

4